.button
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  align-items: center
  margin-left: 1px
  margin-bottom: 1px
  color: white
  display: flex
  font-family: fontFamily
  font-size: rem(34)
  height: auto
  justify-content: center
  outline: none
  touch-callout: none
  transition: color .3s, background .3s
  user-select: none
  width: 33%
  background: rgba(255, 255, 255, 0.1) // linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0))

  &:last-child
    width: 100%

  &.active
    background: white
    color: #6e9af9

.hej
  color: red
