.status-bar
  align-items: center
  display: flex
  font-size: rem(18)
  height: rem(36)
  justify-content: space-between
  padding-left: rem(12)
  padding-right: rem(12)

  .time-left
  .score
  .settings
    color: fontSecondaryColor
